<h1>Favorite Questions</h1>

{{#each favoritePosts.favorites as |favorite|}}
<div class="card brown lighten-1">
  <div class="card-content green-text">
    <span class="card-title">{{favorite.author}}'s Question {{post-popularity favorite}}{{no-answers favorite}}</span>
    <p>{{favorite.body}}</p>
  </div>
  <div class="card-action">
    {{#link-to 'post' favorite.id}}<a>More Info</a>{{/link-to}}
  </div>
</div>
{{/each}}
