<li>
  <!-- {{#link-to 'post' post.id}} {{/link-to}} -->
  {{post.body}}
  <br>
  Author: {{post.author}}
  {{update-post post=post update="update"}}
  <button {{action 'delete' post}}>Delete</button>
</li>
