<div>
<nav>
  <div class="nav-wrapper">
    {{#link-to "index"}}<a class="brand-logo center">Just Assk</a>{{/link-to}}
    <ul id="nav-mobile" class="center hide-on-med-and-down">
      <li>{{#link-to "index"}}<a>Home</a>{{/link-to}}</li>
    </ul>
  </div>
</nav>
</div>
<div class="container">
  {{outlet}}
</div>
